# torch, torchvision and smac is not in this list, which should be installed seperately
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
docopt==0.6.2
future==0.16.0
idna
imageio==2.4.1
jsonpickle
kiwisolver==1.0.1
matplotlib
mock==2.0.0
more-itertools==4.3.0
mpyq==0.2.5
munch==2.3.2
numpy<1.20.0
pathlib2
pbr==4.3.0
pluggy==0.7.1
portpicker==1.2.0
probscale==0.2.3
protobuf==3.6.1
py==1.6.0
pyparsing==2.2.2
pytest==3.8.2
python-dateutil==2.7.3
PyYAML<6.0
requests
sacred
scipy
six==1.11.0
sk-video==1.1.10
snakeviz==1.0.0
tensorboardX
tensorboard_logger
tornado
urllib3==1.23
websocket-client==0.53.0
whichcraft==0.5.2
wrapt==1.10.11
pysc2>=3.0.0
s2clientprotocol>=4.10.1.75800.0
absl-py>=0.1.0
pygame>=2.0.0
gym==0.10.8
setproctitle